@import url("reset.css");
@import url("colours.css");
@import url("typography.css");
@import url("layout.css");
@import url("spacing.css");
@import url("components.css");
@import url("home.css");
@import url("product.css");
@import url("about.css");
@import url("cart.css");
@import url("search.css");
@import url("checkout.css");
@import url("confirmation.css");

.cart-badge {
  position: absolute;
  top: 2px;
  right: 2px;
  background: #cd934b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  z-index: 10;
  display: inline-block;
}
